<!DOCTYPE html>
<html lang="{{ site.lang | default: "ru" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% seo %}
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo"><img src="/assets/img/live_tushino_logo.png" alt="Живое Тушино (логотип)"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/candidates">Кандидаты</a></li>
          <li><a href="/campaigns/tram">За трамвай</a></li>
          <li><a href="https://t.me/tushino_keep_bot">Написать нам</a></li>
          <li><a href="https://t.me/livetushino" class="light-green white-text">Телеграм-канал</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="/candidates">Кандидаты</a></li>
          <li><a href="/campaigns/tram">За трамвай</a></li>
          <li><a href="https://t.me/tushino_keep_bot">Написать нам</a></li>
          <li><a href="https://t.me/livetushino" class="light-green white-text">Телеграм-канал</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>    
    {{ content }}
    <footer class="page-footer light-green">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Живое Тушино</h5>
            <p class="grey-text text-lighten-4">{{ site.description }}</p>
          </div>
          <div class="col l2 s12">
            <h5 class="white-text">Деятельность</h5>
            <ul>
              <li><a class="white-text" href="/candidates">Кандидаты</a></li>
              <li><a class="white-text" href="/campaigns/tram">За трамвай</a></li>
            </ul>
          </div>
          <div class="col l2 s12">
            <h5 class="white-text">Связь с нами</h5>
            <ul>
              <li><a class="white-text" href="https://t.me/livetushino">Телеграм-канал</a></li>
              <li><a class="white-text" href="https://t.me/tushino_keep_bot">Бот обратной связи</a></li>
            </ul>
          </div>
          <div class="col l2 s12">
            <h5 class="white-text">Поддержать</h5>
            <ul>
              <li><a class="white-text" href="https://docs.google.com/forms/d/e/1FAIpQLSdIuti7UkBxfnCeoUFm7WUpOofbpSCEKTc5qNyTBkF_SISdGg/viewform?usp=sf_link">Поддержать делом</a></li>
              <li><a class="white-text" href="/donate">Поддержать рублём</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Разработка сайта <a class="black-text" href="mailto:pavelshlepnev@gmail.com?subject=[Живое Тушино]">Павел Шлепнёв</a>
        </div>
      </div>
    </footer>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      M.AutoInit();
    </script>
  </body>
</html>
