---
layout: default
---
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="/campaigns/tram">Трамвайный вопрос</a></li>
        <li><a href="https://t.me/tushino_keep_bot">Написать нам</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/campaigns/tram">Трамвайный вопрос</a></li>
        <li><a href="https://t.me/tushino_keep_bot">Написать нам</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>  
{{ content }}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large light-green pulse">
    <i class="large material-icons">lightbulb</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped red" data-position="left" data-tooltip="Подписать петицию"><i class="material-icons">edit</i></a></li>
    <li><a class="btn-floating tooltipped yellow darken-1" href="https://docs.google.com/forms/d/e/1FAIpQLSdIuti7UkBxfnCeoUFm7WUpOofbpSCEKTc5qNyTBkF_SISdGg/viewform?usp=sf_link" data-position="left" data-tooltip="Помочь делом"><i class="material-icons">support</i></a></li>
    <li><a class="btn-floating tooltipped green" href="https://www.tinkoff.ru/cf/9soXm4ROuw" data-position="left" data-tooltip="Помочь рублём"><i class="material-icons">currency_ruble</i></a></li>
    <li><a class="btn-floating tooltipped blue" href="https://t.me/tushino_keep_bot" data-position="left" data-tooltip="Связаться с нами"><i class="material-icons">contact_support</i></a></li>
  </ul>
</div>